@font-face {
    font-family: HelveticaNeue-Light;
    src: url(../fonts/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: HelveticaNeue-UltraLight;
    src: url(../fonts/HelveticaNeue-UltraLight.otf);
}

@font-face {
    font-family: HelveticaNeue-Thin;
    src: url(../fonts/HelveticaNeueLTStd-Th.otf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}


body {
	font-family:'Roboto-Regular' !important;
}

.statusbar-overlay {
    background: #131313;
}

/*UI ELMENTS*/

/*hide the recording output*/
#ouputarea {
	visibility: hidden;
}

.content-block-title {
	font-size: 35px;
	text-align: center;
	text-transform: initial;
}

.layout-dark .content-block-inner {
	background: #222426 !important;
}

.layout-dark .content-block-inner:before,
.layout-dark .content-block-inner:after {
    background-color: #222426 !important;
}

ul {
	background-color: #222426 !important;
}

.layout-dark .item-inner:after, .layout-dark .list-block ul ul li:last-child .item-inner:after {
    background-color: #222426 !important;
}

.layout-dark .list-block ul:before, .list-block.layout-dark ul:before {
    background-color: #222426 !important;
}

.layout-dark .list-block ul:after, .list-block.layout-dark ul:after {
    background-color: #222426 !important;
}

.layout-dark .popover, .popover.layout-dark {
    background: rgba(0,0,0,.9999) !important;
}

.button {
	font-size: 27px !important;
	font-family:'Roboto-Regular' !important;
}

.floating-button {
    right: 25px !important;
    top: 25px !important;
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    font-size: 15px;
}

/*UI Nav*/
.nav-text {
	display: block;
	position: fixed;
	top: 370px;
	font-size: 40px;
}

.nav-text-bg {
	background: rgba(0,0,0,0.7);
	border-radius: 13px;
	padding: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.icon-custom{
	font-size: 70px;
	padding: 7px;
}
/*UI Nav*/

/*INTRO*/
.call-to-action {
	padding: 80px;
	width: 65%;
	margin: auto;
	font-size: 35px;
	text-align: center;
	text-transform: initial;
}

/*MAP*/
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-popover, .recording-popover {
	padding-top: 80px;
	opacity: 0.8 !important;
	font-size: 27px;
	width: 100%;
	height: 100%;
    color: #ffffff;
}

.popover-close {
	margin-top: 80px;
}

.popover-angle:after {
	display: none !important;
}

/*RECORDER*/
.audio-controls {
	padding: 20px;
	text-align: center;
	height: 20vh;
}

.record-btn-outer {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 45px;
	padding: 5px;
	border:4px solid #ffffff;
}

.record-btn-inner {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 36px;
	background-color: #a96f6f;
}

.recording {
	background-color: #ff0000;
	box-shadow: 0px 10px 100px rgba(255, 255, 255, 1);
}

.counter {
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	height: 25vh;
}

#go-to-map {
	visibility: hidden;
}

/*playback-controls*/

#playback-panel {
	display: none;
	position: absolute;
	width: 100%;
	left: 0 ;
	bottom: 0 ;
	height: 200px ;
	background-color: #222426 !important;
	color: #ffffff !important;
	z-index: 100;
}

#playback-panel .content-block-title {
	font-size: 25px;
}


.playback-controls {
	text-align: center;
}




.playback-btn-outer {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 45px;
	padding: 5px;
	margin-top: 28px;
	border:4px solid #ffffff;
}

.playback-btn-inner {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 36px;
	background-color: #222426;
	border: 2px solid #222426;
	background-image: url("../img/play-trans.png");
	background-repeat: no-repeat;
	background-size: 45px auto;
	background-position: 14px 10px;
}



/*FORM Page*/
.form-block {
	padding-top: 50px;
}

.form-fields {
	margin-left: 200px !important;
	font-size: 30px;
}

.form-fields input[type="text"], 
.form-fields textarea {
	font-size: 30px;
	background: rgba(100,100,100,0.1) !important;
}

.item-title {
	text-align: right;
	padding-right: 15px;
}

::-webkit-input-placeholder {
	color: rgba(255,255,255, 0.2) !important;
}
*:-moz-placeholder {
	color: rgba(255,255,255, 0.2) !important;
}
*:-ms-input-placeholder { / IE10+ */
	color: rgba(255,255,255, 0.2) !important;
}



.button.finish {
	font-size: 30px !important;
	padding: 5px;
	height: 50px;
}








